/* Acá va tu código */
body{
    background-image: url(img/fondo.jpg);

}
/*sección cifrado cesar*/
section{
    background-color: white;
    text-align: center;
    font-size: 16px;
    font-family: arial;
    color: #666666;
     width: 500px;
    height: 700px;
    margin: 0 auto;
    background-image: url(img/fondo2.jpg);
}
/*Caja contenedora del texto para modificar*/
#boxText{
    border-color: #C1E4DA;
    border-width: 5px;
    border-style: groove;
    height: 50px;
    width: 250px;
}
/*Lista de las Instrucciones al usuario*/
ul{
    font:  oblique bold 80% cursive;
}

/*Boton para cifrar*/
#btnCifrar{
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24),0 10px 35px 0 rgba(0,0,0,0.19);
    background-color: #9BEFEF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}

/*Boton para descifar*/
#btnDescifrar{
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24),0 10px 35px 0 rgba(0,0,0,0.19);
    background-color: #9BEFEF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}

/*Caja para ingresar el numero de desplazamientos*/
#boxNum{
    border-color: #C1E4DA;
    border-width: 5px;
    border-style: groove;
    height: 20px;
}

/*div para imprimir texto modificado*/
#boxNewText{
     border-color: #C1E4DA;
    border-width: 5px;
    border-style: groove;
    height: 50px;
    width: 200px;
    margin: 0 auto;
}